extends layout

block content

    div.firstSlide.center.slide
        div.rightBlock
            div.inner
                h1 
                    span I'm Gerald, a dutch
                    strong multimedia designer
                p I create offline & digital stuff

                div.btnWrap
                    a.btn(href='/iwant')
                        span.wrap
                            span.front.paper See what i want
                            span.back.paper See what i want

        div.leftBlock
            div.inner
                h2.screamer
                    span Let it live
                    strong love digital, it's alive
                p
                    | Simple designes can be <br/>
                    | extremely effective

                div.btnWrap
                    a.btn(href='/skills')
                        span.wrap
                            span.front.paper See what i know
                            span.back.paper See what i know

        div.me

    // Second slide

    div.secondSlide.center.slide
        div.rightBlock
            div.inner
                h2.screamer
                    span I like to bake
                    strong I’m really curious

                p   
                    |graphic designs, mobile apps,
                    |web development, user interfaces, logos, web designs, games, perfect images,
                    |code for an open source CMS, front-end developer, web apps & flash.

                p   
                    |I’m not only a designer, I program too,
                    |Have a crazy idea ? <a href="/contact">Call me</a>


                h4 An app maker with a smile

                div.btnWrap
                    a.btn(href='/iwant')
                        span.wrap
                            span.front.paper See what I want
                            span.back.paper See what I want

        div.leftBlock
            div.inner
                div.skills
                    ul
                        li Graphic designer
                        li Multimedia designer
                        li Fronted developer
                        li Drupal developer
                        li Wordpress developer
                        li Node Js
                        li Responsive
                        li Compass

                div.btnWrap
                    a.btn(href='/')
                        span.wrap
                            span.front.paper About
                            span.back.paper About

        div.me

    // Third slide

    div.thirdSlide.center.slide
        div.rightBlock
            div.inner
                div.btnWrap
                    a.btn(href='/')
                        span.wrap
                            span.front.paper About
                            span.back.paper About
                div.btnWrap
                    a.btn(href='/skills')
                        span.wrap
                            span.front.paper See what i know
                            span.back.paper See what i know

        div.leftBlock
            div.inner
                h2.screamer
                    span Simplicity is my trademark
                    strong Less is more
                p   
                    |graphic designs, mobile apps,
                    |web development, user interfaces, logos, web designs, games, perfect images,
                    |code for an open source CMS, front-end developer, web apps & flash.

                h4 Polished doesn't mean that is has to shine

        div.me



    div.tool.slides
        div.btnWrap
            a.btn(href='/')
                span.wrap
                    span.front.paper See what i made
                    span.back.paper See what i made

