doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href="/favicon.ico", rel="icon", type="image/x-icon")
    meta(name="description", content="Freelance Multimedia designer die websites, apps, design, CMS en webshops maakt.")
        
  body.webApp

    div#mainApp
        block content

    footer
        nav
            ul
                li
                    a(href="/") about
                li
                    a(href="/portfolio") my projects
                li
                    a(href="/contact") contact

        a.logo(href="/") L
        a.sound(href="#sound") Sound off

    audio(id="snd_bg_1")
        source(src="/snds/AJazzHoliday.mp3", type="audio/mpeg", preload)
        source(src="/snds/AJazzHoliday.ogg", type="audio/ogg", preload)
    audio(id="snd_bg_2")
        source(src="/snds/background-orchestra.mp3", type="audio/mpeg", preload)
        source(src="/snds/background-orchestra.ogg", type="audio/ogg", preload)
    audio(id="snd_click")
        source(src="/snds/small_clicker.mp3", type="audio/mpeg", preload)
        source(src="/snds/small_clicker.ogg", type="audio/ogg", preload)  
    audio(id="snd_hover")
        source(src="/snds/hover.mp3", type="audio/mpeg", preload)
        source(src="/snds/hover.ogg", type="audio/ogg", preload)
    audio(id="snd_gone")
        source(src="/snds/daclick.mp3", type="audio/mpeg", preload)
        source(src="/snds/daclick.ogg", type="audio/ogg", preload)



    //if lt IE 9
        div.oldBrowser
            p Oops you are using an old browser, download the latest version at 
                a(href="http://browsehappy.com/", target="_blank") browsehappy


    script(type="text/javascript", data-main="/js/main", src="/bower_components/requirejs/require.js")
