@font-face {
  font-family: 'geared_slabbold';
  src: url("../fonts/gearedslab-bold-webfont.eot");
  src: url("../fonts/gearedslab-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gearedslab-bold-webfont.woff") format("woff"), url("../fonts/gearedslab-bold-webfont.ttf") format("truetype"), url("../fonts/gearedslab-bold-webfont.svg#geared_slabbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'geared_slabregular';
  src: url("../fonts/gearedslab-webfont.eot");
  src: url("../fonts/gearedslab-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gearedslab-webfont.woff") format("woff"), url("../fonts/gearedslab-webfont.ttf") format("truetype"), url("../fonts/gearedslab-webfont.svg#geared_slabregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mission_scriptregular';
  src: url("../fonts/mission-script-webfont.eot");
  src: url("../fonts/mission-script-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mission-script-webfont.woff") format("woff"), url("../fonts/mission-script-webfont.ttf") format("truetype"), url("../fonts/mission-script-webfont.svg#mission_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *::selection {
    background: red;
    color: white; }

body {
  font-size: 100%; }

.center {
  margin: 0 auto; }

.box {
  width: 650px;
  position: relative;
  padding: 20px;
  border: solid 1px #cccccc;
  top: 150px; }

form div {
  padding: 0 0 10px 0; }
form label {
  color: #999999;
  display: inline-block;
  padding-left: 5px;
  font-size: 95%; }
form input#color {
  width: 50px;
  height: 50px; }
form input, form textarea {
  border: solid 1px #cccccc;
  padding: 10px;
  background: white;
  font-size: 95%;
  width: 100%; }
  form input[type=checkbox], form input[type=radio], form textarea[type=checkbox], form textarea[type=radio] {
    width: auto; }
  form input:focus, form textarea:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
form textarea {
  height: 250px; }

h1, h2, h3, h4 {
  font-weight: 200;
  padding-bottom: 15px;
  margin: 0; }

a {
  color: black; }
  a:hover {
    color: #999999; }

header h1 {
  border-bottom: solid 1px #cccccc;
  margin-bottom: 20px; }

table {
  width: 100%;
  border-collapse: collapse; }
  table td, table th {
    padding: 10px;
    border: solid 1px #cccccc; }
  table th {
    font-weight: 200; }
  table thead {
    background: #e0e0e0; }

.spaceLeft {
  padding-left: 10px; }

.btn {
  border: solid red 1px;
  text-transform: uppercase;
  color: red;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  text-align: center;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  font-size: 120%;
  font-weight: bold;
  background: white;
  outline: 0;
  margin-bottom: 10px; }
  .btn:hover {
    background: red;
    color: white; }

.delete {
  color: red; }

.delBtn {
  display: inline-block;
  padding: 0 10px;
  border: solid 1px red;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px; }

.shiftContentRight {
  text-align: right; }

.content {
  padding: 20px; }

.message {
  border: solid 1px red;
  margin-bottom: 20;
  top: 100px; }
  .message.error p {
    color: red; }

body.webApp {
  background: black;
  color: white; }
  body.webApp h1, body.webApp h2, body.webApp h3 {
    background: none;
    font-family: 'mission_scriptregular', sans-serif;
    line-height: 1.3em; }
    body.webApp h1 span, body.webApp h1 strong, body.webApp h2 span, body.webApp h2 strong, body.webApp h3 span, body.webApp h3 strong {
      font-family: 'mission_scriptregular', sans-serif;
      font-size: 150%;
      display: block;
      font-weight: 200; }
    body.webApp h1 strong, body.webApp h2 strong, body.webApp h3 strong {
      margin-left: 10%; }
  body.webApp h4 {
    font-family: 'mission_scriptregular', sans-serif;
    font-size: 180%;
    font-weight: 200; }
  body.webApp a {
    color: red;
    -webkit-transition: All, 0.3s;
    -moz-transition: All, 0.3s;
    -o-transition: All, 0.3s;
    transition: All, 0.3s;
    background: none; }
    body.webApp a:hover {
      text-decoration: none;
      background: black; }
  body.webApp h2.screamer, body.webApp h1.screamer, body.webApp h1.screamer span, body.webApp h2.screamer span {
    font-weight: 200;
    padding-bottom: 15px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    font-family: 'geared_slabregular', sans-serif;
    color: white;
    text-transform: uppercase;
    height: 84px;
    font-size: 340%;
    padding: 2px 0;
    display: inline-block;
    position: relative;
    margin: 20px 20px 0 20px; }
    body.webApp h2.screamer:before, body.webApp h2.screamer:after, body.webApp h1.screamer:before, body.webApp h1.screamer:after, body.webApp h1.screamer span:before, body.webApp h1.screamer span:after, body.webApp h2.screamer span:before, body.webApp h2.screamer span:after {
      color: white;
      display: block;
      font-family: 'icomoon', sans-serif;
      width: 80px;
      font-size: 83px;
      position: absolute;
      text-align: left;
      line-height: 80px;
      text-indent: 0;
      text-align: left;
      top: 3px; }
    body.webApp h2.screamer:before, body.webApp h1.screamer:before, body.webApp h1.screamer span:before, body.webApp h2.screamer span:before {
      content: '[';
      left: -20px; }
    body.webApp h2.screamer:after, body.webApp h1.screamer:after, body.webApp h1.screamer span:after, body.webApp h2.screamer span:after {
      content: ']';
      text-align: right;
      right: -20px; }
    body.webApp h2.screamer span, body.webApp h1.screamer span, body.webApp h1.screamer span span, body.webApp h2.screamer span span {
      background: black;
      font-size: 100%;
      padding: 0 20px;
      z-index: 10;
      margin: 0;
      height: 80px;
      line-height: 90px;
      font-weight: 200; }
      body.webApp h2.screamer span:before, body.webApp h2.screamer span:after, body.webApp h1.screamer span:before, body.webApp h1.screamer span:after, body.webApp h1.screamer span span:before, body.webApp h1.screamer span span:after, body.webApp h2.screamer span span:before, body.webApp h2.screamer span span:after {
        color: black;
        font-size: 80px;
        top: 1px; }
      body.webApp h2.screamer span:before, body.webApp h1.screamer span:before, body.webApp h1.screamer span span:before, body.webApp h2.screamer span span:before {
        left: -18px; }
      body.webApp h2.screamer span:after, body.webApp h1.screamer span:after, body.webApp h1.screamer span span:after, body.webApp h2.screamer span span:after {
        right: -18px; }
    body.webApp h2.screamer strong, body.webApp h1.screamer strong, body.webApp h1.screamer span strong, body.webApp h2.screamer span strong {
      position: absolute;
      right: -20px;
      top: -43px;
      font-family: 'mission_scriptregular', sans-serif;
      font-size: 65%;
      z-index: 10;
      text-transform: none;
      font-weight: 200; }
  body.webApp div.btnWrap {
    padding: 5px 0; }
  body.webApp a.btn {
    display: inline-block;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    -ms-perspective: 1500px;
    -o-perspective: 1500px;
    perspective: 1500px;
    position: relative;
    background: none;
    border: none;
    padding: 0;
    color: white;
    height: 70px; }
    body.webApp a.btn span.wrap {
      position: relative;
      display: block;
      -webkit-transition: All, 0.3s ease;
      -moz-transition: All, 0.3s ease;
      -o-transition: All, 0.3s ease;
      transition: All, 0.3s ease;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: 0 0 0 50%;
      -moz-transform-origin: 0 0 0 50%;
      -ms-transform-origin: 0 0 0 50%;
      -o-transform-origin: 0 0 0 50%;
      transform-origin: 0 0 0 50%; }
    body.webApp a.btn span.paper {
      display: block;
      border: solid 1px white;
      font-family: 'geared_slabregular', sans-serif;
      -webkit-transform-origin: 0 0 0 50%;
      -moz-transform-origin: 0 0 0 50%;
      -ms-transform-origin: 0 0 0 50%;
      -o-transform-origin: 0 0 0 50%;
      transform-origin: 0 0 0 50%;
      height: 60px;
      line-height: 60px;
      padding: 0 20px;
      font-size: 180%;
      position: relative;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden; }
      body.webApp a.btn span.paper.back {
        background: white;
        color: black;
        color: white;
        -webkit-transform: rotateX(-85deg);
        -moz-transform: rotateX(-85deg);
        -ms-transform: rotateX(-85deg);
        -o-transform: rotateX(-85deg);
        transform: rotateX(-85deg);
        -webkit-transition: All, 0.3s ease;
        -moz-transition: All, 0.3s ease;
        -o-transition: All, 0.3s ease;
        transition: All, 0.3s ease; }
    body.webApp a.btn:hover span.wrap {
      -webkit-transform: rotateX(90deg) translateY(-60px);
      -moz-transform: rotateX(90deg) translateY(-60px);
      -ms-transform: rotateX(90deg) translateY(-60px);
      -o-transform: rotateX(90deg) translateY(-60px);
      transform: rotateX(90deg) translateY(-60px); }
      body.webApp a.btn:hover span.wrap span.back {
        color: black; }

@keyframes "movingBackground" {
  from {
    background-position: 0 0; }

  to {
    background-position: 708px 0; } }

@-moz-keyframes movingBackground {
  from {
    background-position: 0 0; }

  to {
    background-position: 708px 0; } }

@-webkit-keyframes "movingBackground" {
  from {
    background-position: 0 0; }

  to {
    background-position: 708px 0; } }

@-ms-keyframes "movingBackground" {
  from {
    background-position: 0 0; }

  to {
    background-position: 708px 0; } }

@-o-keyframes "movingBackground" {
  from {
    background-position: 0 0; }

  to {
    background-position: 708px 0; } }

form img, table img {
  height: 80px;
  width: auto;
  padding: 10px;
  border: solid 1px #cccccc;
  margin: 10px; }

table img {
  margin: 0; }

/*@ sourceMappingURL=admin.css.map */